<%- include("./partials/header") %> 

<div class="container">
    <form action="/login" method="POST" class="col-md-6 col-lg-4 px-5 pb-5 border rounded mx-auto">
        <h1 class="my-4 text-center">Welcome</h1>
        <fieldset class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control">
        </fieldset>
        <button class="btn btn-primary btn-lg btn-block mt-5">Sign In</button>
    </form>
</div>

<%- include("./partials/footer") %> 