<%- include("../partials/header") %> 

<div class="container text-center my-4">
    <h1>Create a new Campground</h1>
</div>

<div class="container">
    <div class="row">
        <div class="container col-md-7 col-lg-5 m-auto">
            <form action="/campgrounds" method="POST" class="p-5 border rounded">
                <div class="container">
                    <fieldset class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="campground[name]" id="name" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" name="campground[price]" id="price" class="form-control" min="0.01" step="0.01">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="image">Image url:</label>
                        <input type="text" name="campground[image]" id="image" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="description">Description:</label>
                        <textarea type="text" name="campground[description]" id="description" class="form-control"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-center mb-0 mt-5">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </fieldset>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> 